<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="form__content">
      <%= form.label :username, style: "display: block", class: "form__label" %>
      <%= form.text_field :username, class: "form__field" %>
    </div>

    <div class="form__content">
      <%= form.label :email, style: "display: block", class: "form__label" %>
      <%= form.text_field :email, class: "form__field" %>
    </div>

    <% if current_user && current_user.admin? %>
      <div class="form__content">
        <%= form.label :role, style: "display: block", class: "form__label" %>
        <%#= form.select :role_id, options_for_select(Role.all, :name), class: "form__dropdown" %>

        <%#= form.select :role_id, options_for_select(Role.all.map { |role| [role.name, role.id] }), class: "form__dropdown" %>
        <%= form.select :role_id, options_for_select(Role.all.map { |role| [role.name, role.id] }, @user.role_id), {}, class: "form__dropdown" %>
      </div>
    <% end %>

    <div class="form__content">
      <%= form.label :password, style: "display: block", class: "form__label" %>
      <%= form.text_field :password, class: "form__field" %>
    </div>

    <div>
      <%= form.submit class: "form__button" %>
    </div>
  </div>

<% end %>
