<%= stylesheet_link_tag "posts" %>
<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<p style="color: green"><%= notice %></p>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="form__content">
      <%= form.label :content, style: "display: block", class: "form__label" %>
      <%= form.text_field :content, class: "form__field" %>
    </div>

    <div class="form__content">
      <%= form.label :category, style: "display: block", class: "form__label" %>
      <% if @post.category_id.present? %>
        <% current_category_name = Category.find(@post.category_id).name %>
      <% end %>
      <%= form.text_field :category_name, value: current_category_name, placeholder: "Enter category name or select from the list", class: "form__field", list: "categories-list" %>
      <datalist id="categories-list">
        <% Category.all.each do |category| %>
          <option value="<%= category.name %>">
        <% end %>
      </datalist>
    </div>

    <div>
      <%= form.submit class: "form__button" %>
    </div>
  </div>
<% end %>
