<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
  <title>SecondPractise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<!--  <header class="nav-bar">-->
<!--    <h1>Forum</h1>>-->
<!--    <ul class="nav-bar__wrapper">-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link"><%#= link_to 'Home', home_path %></a></li>-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link" aria-current="page"><%#= link_to 'New Post', new_post_path %>-->
<!--      </a></li>-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link"><%#= link_to 'New Role', new_role_path %></a></li>-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link"><%#= link_to 'New User', new_user_path %></a></li>-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link"><%#= link_to 'New Comment', new_comment_path %></a></li>-->
<!--      <li class="nav-bar__item"><a href="#" class="nav-bar__link"><%#= link_to 'New Category', new_category_path %></a></li>-->
<!--    </ul>-->
<!--  </header>-->

<div class="container">
  <header class="container-fluid mt-3">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="40px" height="32px">
          <path d="M 25.003906 2.3339844 C 24.825656 2.3339844 24.646781 2.3815625 24.488281 2.4765625 L 5.484375 13.896484 C 5.183375 14.077484 5 14.402906 5 14.753906 L 5 35.222656 C 5 35.571656 5.1805156 35.894172 5.4785156 36.076172 L 10.478516 39.128906 C 11.144516 39.535906 12 39.055391 12 38.275391 L 12 18.113281 L 25 10.173828 L 38 18.113281 L 38 38.314453 C 38 39.094453 38.853531 39.574922 39.519531 39.169922 L 44.519531 36.130859 C 44.818531 35.948859 45 35.625391 45 35.275391 L 45 14.753906 C 45 14.402906 44.816625 14.077484 44.515625 13.896484 L 25.517578 2.4765625 C 25.359078 2.3815625 25.182156 2.3339844 25.003906 2.3339844 z M 21.998047 17.175781 C 21.824234 17.175906 21.645016 17.222469 21.478516 17.324219 L 16.478516 20.378906 C 16.180516 20.560906 16 20.882469 16 21.230469 L 16 42.023438 C 16 42.374437 16.183375 42.699859 16.484375 42.880859 L 24.488281 47.689453 C 24.805281 47.880453 25.200578 47.879453 25.517578 47.689453 L 33.515625 42.882812 C 33.816625 42.701813 34 42.376391 34 42.025391 L 34 21.230469 C 34 20.882469 33.819484 20.559906 33.521484 20.378906 L 28.521484 17.324219 C 27.855484 16.917219 27 17.396734 27 18.177734 L 27 38.771484 L 25 39.994141 L 23 38.771484 L 23 18.177734 C 23 17.591984 22.519484 17.175406 21.998047 17.175781 z" fill="#ffffff"/>
        </svg>
        <span class="fs-5">Discussing</span>
        <%#= link_to 'Home', home_path %>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a href="#"><%= link_to 'New Post', new_post_path, class: "me-3 py-2 link-body-emphasis text-decoration-none text-white bg-primary rounded border border-primary p-2" %></a>

        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "me-3 py-2 link-body-emphasis text-decoration-none" %>
        <% else %>
          <%= button_to "Sign In", new_user_session_path, class: "me-3 py-2 link-body-emphasis text-decoration-none" %>
        <% end %>

        <%# if user_signed_in? %>
        <%#= link_to "Вийти", destroy_user_session_path, method: :delete, class: "me-3 py-2 link-body-emphasis text-decoration-none" %>
        <%# else %>
        <%#= link_to "Sign In", new_user_session_path, class: "me-3 py-2 link-body-emphasis text-decoration-none" %>
        <%# end %>


      </nav>
    </div>
  </header>

  <div class="d-flex flex-column" style="min-height: 60vh;">
    <%= yield %>
  </div>

  <footer class="container-fluid pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="40px" height="32px">
          <path d="M 25.003906 2.3339844 C 24.825656 2.3339844 24.646781 2.3815625 24.488281 2.4765625 L 5.484375 13.896484 C 5.183375 14.077484 5 14.402906 5 14.753906 L 5 35.222656 C 5 35.571656 5.1805156 35.894172 5.4785156 36.076172 L 10.478516 39.128906 C 11.144516 39.535906 12 39.055391 12 38.275391 L 12 18.113281 L 25 10.173828 L 38 18.113281 L 38 38.314453 C 38 39.094453 38.853531 39.574922 39.519531 39.169922 L 44.519531 36.130859 C 44.818531 35.948859 45 35.625391 45 35.275391 L 45 14.753906 C 45 14.402906 44.816625 14.077484 44.515625 13.896484 L 25.517578 2.4765625 C 25.359078 2.3815625 25.182156 2.3339844 25.003906 2.3339844 z M 21.998047 17.175781 C 21.824234 17.175906 21.645016 17.222469 21.478516 17.324219 L 16.478516 20.378906 C 16.180516 20.560906 16 20.882469 16 21.230469 L 16 42.023438 C 16 42.374437 16.183375 42.699859 16.484375 42.880859 L 24.488281 47.689453 C 24.805281 47.880453 25.200578 47.879453 25.517578 47.689453 L 33.515625 42.882812 C 33.816625 42.701813 34 42.376391 34 42.025391 L 34 21.230469 C 34 20.882469 33.819484 20.559906 33.521484 20.378906 L 28.521484 17.324219 C 27.855484 16.917219 27 17.396734 27 18.177734 L 27 38.771484 L 25 39.994141 L 23 38.771484 L 23 18.177734 C 23 17.591984 22.519484 17.175406 21.998047 17.175781 z" fill="#ffffff"/>
        </svg>
        <small class="d-block mt-1 text-body-secondary">© 2024</small>
      </div>
      <div class="col-2">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
